<app-navbar-coordinacion></app-navbar-coordinacion>
<div style=" align-self:  center; width: 10%;  margin-top: 2%; ">
    <label class="title">Recinto: </label>

</div>



<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Registrar</div>
                    <div class="card-body">
                        <form name="my-form" onsubmit="return validform()" action="success.php" method="">
                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">Nombre</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="secondName" class="col-md-4 col-form-label text-md-right">Apellidos</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="secondName">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">Correo</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="email">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="academicDegree" class="col-md-4 col-form-label text-md-right">Grado
                                    academico</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="academicDegree">
                                </div>
                            </div>

                            <div class="form-group row">
                                <mat-label class="col-md-4 col-form-label text-md-right" style="align-self: flex-start;">Especializacion</mat-label>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select [formControl]="toppings" multiple>
                                            <mat-option *ngFor="let topping of toppingList">
                                                {{topping}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-group row">
                                <mat-label class="col-md-4 col-form-label text-md-right" style="align-self: flex-start;">Topicos de interes</mat-label>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select [formControl]="toppings" multiple>
                                            <mat-option *ngFor="let topping of toppingList">
                                                {{topping}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>


                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary"
                                    style="background-color: #00c0f3; border-color: #00c0f3;">
                                    Registrar
                                </button>
                            </div>




                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>