
<label class="title">Seleccioné el recinto de coordinación</label>

<div class="row-form">
    <div class="dropdown" >
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Recinto
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a  class="dropdown-item" routerLink="/coordinacion" (click)="setRecinto('Sede de Guanacaste')">Sede de Guanacaste</a>
            <a  class="dropdown-item" routerLink="/coordinacion" (click)="setRecinto('Recinto de Santa Cruz')">Recinto de Santa Cruz</a>
            <a  class="dropdown-item" routerLink="/coordinacion" (click)="setRecinto('Sede del Pacífico')">Sede del Pacífico</a>
            <a  class="dropdown-item" routerLink="/coordinacion" (click)="setRecinto('Recinto de Golfito')">Recinto de Golfito</a>
            <a  class="dropdown-item" routerLink="/coordinacion" (click)="setRecinto('Sede del Occidente')">Sede del Occidente</a>
            <a  class="dropdown-item" routerLink="/coordinacion" (click)="setRecinto('Recinto de Grecia')">Recinto de Grecia</a>
            <a  class="dropdown-item" routerLink="/coordinacion" (click)="setRecinto('Sede Interuniversiyaria')">Sede Interuniversiyaria</a>
            <a  class="dropdown-item" routerLink="/coordinacion" (click)="setRecinto('Sede del Caribe')">Sede del Caribe</a>
            <a  class="dropdown-item" routerLink="/coordinacion" (click)="setRecinto('Sede del Atlantico')">Sede del Atlantico</a>
            <a  class="dropdown-item" routerLink="/coordinacion" (click)="setRecinto('Recinto de Guapiles')">Recinto de Guapiles</a>
            <a  class="dropdown-item" routerLink="/coordinacion" (click)="setRecinto('Recinto de Paraiso')">Recinto de Paraiso</a>
          
        </div>
      </div>
</div>