<app-navbar-coordinacion></app-navbar-coordinacion>
<div style=" align-self:  center; width: 10%; ">
        <label class="title">Recinto: </label>

</div>




<div class="grid-container">
    <div class="grid-item">
        <div style="background-color:#f99d1c; height: 30%; width: 100%;">
            <label class="label " style="color: white;">Historias</label>
        </div>
    </div>
    <div class="grid-item">
        <div style="background-color: #00c0f3; height: 30%; width: 100%;">
            <label class="label " style="color: white;">Eventos</label>
        </div>
    </div>
    <div class="grid-item">
        <div style="background-color: #00c0f3; height: 30%; width: 100%;">
            <label class="label " style="color: white;">Proyectos</label>
        </div>
    </div>
    <div class="grid-item">
        <div style="background-color:#f99d1c; height: 30%; width: 100%;">
            <label class="label " style="color: white;">Solicitudes</label>
        </div>

    </div>
</div>