<app-navbar-general></app-navbar-general>
<div class="row-label">
        <label class="title">Inicio de sesion</label>
</div>


<div class="row" style="padding: 0px;">
    <div class="row-form">
        <div class="row-label">
            <label class="label">Usuario</label>
        </div>
    </div>

    <div class="row-form"  style="width: 200%;">
        <input style="width: 200%;" type="text" class="input" name="login">
    </div>
</div>
<div class="row">
    <div class="row-form">
        <div class="row-label">
            <label class="label">Contraseña</label>
        </div>
    </div>
    <div class="row-form"style="width: 200%;">

        <input style="width: 200%;" type="password" class="input" name="login">
    </div>
</div>

<div class="row-form">
    <a type="submit" href="/recinto" class="btn" value="Aceptar">Aceptar</a>
</div>