.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 300px;
  }
  

  .content{
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-left: 10%;
    max-width: 80%;
    width: 80%;

  }

  .title{
    color: #000000;
    margin-top: 6%;
    text-align: end;
    max-width: 100%;
    width: 100%;
    align-self: end;
    size: 100%;
    font-size: 24px;
    font-weight: bold;
   font-size: 100%;
}
.title2{
    color: #00c0f3;
    text-align: center;
    max-width: 100%;
    width: 100%;
    align-self: center;
    size: 100%;
    font-weight: bold;
    font-size: 150%;
}
