<app-navbar-coordinacion></app-navbar-coordinacion>
<div style=" align-self:  center; width: 15%;  margin-top: 2%; ">
    <label class="title">Recinto de {{message}}</label>

</div>


<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Editar informacion del docente</div>
                    <div class="card-body">
                        <form name="my-form" onsubmit="return validform()" action="success.php" method="">
                            <div class="form-group row" style="margin-top: 2%;">
                                <label for="name" style="align-self:auto; width: 20%;  margin-left: 20%;">Nombre</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="secondName" style="align-self:auto; width: 20%;  margin-left: 20%;">Apellidos</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="secondName">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" style="align-self:auto; width: 20%;  margin-left: 20%;">Correo</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="email">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="academicDegree" style="align-self:auto; width: 20%;  margin-left: 20%;">Grado
                                    academico</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="academicDegree">
                                </div>
                            </div>

                            <div class="form-group row">
                                <mat-label style="align-self:auto; width: 20%;  margin-left: 20%;">Especializacion</mat-label>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select [formControl]="toppings" multiple>
                                            <mat-option *ngFor="let topping of toppingList">
                                                {{topping}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-group row">
                                <mat-label style="align-self:auto; width: 20%; margin-left: 20%;">Topicos de interes</mat-label>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-select [formControl]="toppings" multiple>
                                            <mat-option *ngFor="let topping of toppingList">
                                                {{topping}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>


                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Guardar
                                </button>
                            </div>




                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>